td {
  border: 2px solid black;
  padding: 20px;
}

head {
  display: flex;
  flex-direction: row;
}

.image img {
  display: flex;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-weight: bold;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  height: auto;
  width: auto;
  flex-direction: row;
  background-color: rgb(82, 175, 218);
  border-radius: 6px;
}

.home-button {
  background-image: linear-gradient(144deg, #006cb8, #006cb8 50%, #006cb8);
  height: auto;
  width: 50px;
  justify-content: center;
  cursor: pointer;
}

.current {
  text-align: center;
  display: flex;
  justify-content: center;
}

.redirect {
  text-align: center;
  font-weight: bold;
}

.book-description {
  text-align: center;
  font-weight: bold;
}

.book {
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #006cb8, #42f37b 50%, #9fdd49);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(82, 175, 218);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
  background-color: rgb(82, 175, 218);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  background-image: linear-gradient(144deg, #006cb8, #42f37b 50%, #9fdd49);
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* home tabs------------------------------------ */
.button-65 {
  font-size: 100%;
}
.button-65:active,
.button-65:hover {
  transition: 300ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
  background-image: linear-gradient(144deg, #006cb8, #42f37b 50%, #9fdd49);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
}

@media (min-width: 768px) {
  .button-65 {
    font-size: 24px;
    min-width: 196px;
  }
}

@media (max-width: 414px) {
  .button-65 {
    flex-direction: column;
  }
}

.head {
  text-align: center;
}

.head2 {
  text-align: center;
}

.podcast {
  text-align: center;
  font-weight: bold;
}

.sponsorship {
  text-align: center;
  font-weight: bold;
}

.mail-text {
  text-align: center;
  font-weight: bold;
}

.mail img {
  max-height: 150px;
  max-width: 200px;
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.contact-logo img {
  max-height: 150px;
  max-width: 200px;
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.share-logo img {
  width: 100px;
  height: 100px;
}

.devo {
  text-align: center;
  font-weight: bold;
}

.github-prompt {
  text-align: center;
  font-weight: bold;
}

.git img {
  max-height: 150px;
  max-width: 200px;
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.home-image img {
  height: 350px;
  width: auto;
}


/* prayer button */
.input{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prayer-button {
  border-radius: 6px;
  font-size: 20px;
  background-color: rgb(82, 175, 218);
}

.prayer-button:hover {
  background-image: linear-gradient(144deg, #006cb8, #42f37b 50%, #9fdd49);
  border: 0;
  border-radius: 8px;
}
/*
.btn-primary{
    background-color: #42f37b;
}
*/

.request{
  text-align: center;
}

.prayer-info{
  text-align: center;
}

.submit-button{
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  background-color: rgb(82, 175, 218);
}

.submission{
  text-align: center;
}
