.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
    text-align: right;
}

.author::before {
    content: " - ";
}
