td{
    border: 2px solid black;
    padding: 20px;
}



head {
    display: flex;
    flex-direction: row;
}

.image img{

    display: flex;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
}

.intro{
    font-weight: bold;
    text-align: center;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    height: auto;
    width: auto;
    flex-direction: row;
    background-color: rgb(82, 175, 218);
    border-radius: 6px;
}

.home-button{
    background-image: linear-gradient(144deg,#006CB8, #006CB8 50%,#006CB8);
    height: auto;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.current{
    text-align: center;
    display: flex;
    justify-content: center;
}

.redirect{
    text-align: center;
    font-weight: bold;
}

.book-description{
    text-align: center;
    font-weight: bold;
}

.book{
    text-align: center;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#006CB8, #42F37B 50%,#9FDD49);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(82, 175, 218);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
  background-color: rgb(82, 175, 218);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  background-image: linear-gradient(144deg,#006CB8, #42F37B 50%,#9FDD49);
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}


/* home tabs------------------------------------ */ 
.button-65 {
    font-size: 100%;
}
.button-65:active,
.button-65:hover {
    transition: 300ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    align-items: center;
    background-image: linear-gradient(144deg,#006CB8, #42F37B 50%,#9FDD49);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    
}

@media (min-width: 768px) {
    .button-65 {
        font-size: 24px;
        min-width: 196px;
    }
} 

@media (max-width: 414px) {
    .button-65 {
        flex-direction: column;
    }
}

.head{
    text-align: center;
}

.head2{
    text-align: center;
}

.podcast{
    text-align: center;
    font-weight: bold;
}

.sponsorship{
    text-align: center;
    font-weight: bold;
}

.mail-text{
    text-align: center;
    font-weight: bold;
}

.mail img{
    max-height: 150px;
    max-width: 200px;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.contact-logo img {
    max-height: 150px;
    max-width: 200px;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.devo{
    text-align: center;
    font-weight: bold;
}

.github-prompt{
    text-align: center;
    font-weight: bold;
}

.git img{
    max-height: 150px;
    max-width: 200px;
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.home-image img{
    height: 350px;
    width: auto;
}



/* prayer button */
.input{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.prayer-button {
    background-color: rgb(82, 175, 218);
    font-size: 20px;
    border-radius: 6px;
    transition: 300ms;
    margin-left: 5px;
}
.prayer-button:hover {
    background-image: linear-gradient(144deg,#006CB8, #42F37B 50%,#9FDD49);
}
/* end prayer button */


/* username displayed on prayer.html */
.user {
    text-align: center;
    font-size: 40px;
}


/* The prayer submission table */
.prayForMePlease{
    align-items: center;
    justify-content: space-around;
    display: grid;
    /* border-radius: 6px;
    border-color: black;
    padding-left: 10%;
    padding-right: 10%;
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 1000px;
    align-items: center;
    justify-content: space-around; */
}

.table {
	border: 1px;
}

@media (max-height: 500px) {
    .prayForMePlease {
      flex: 1 100vh;
    }
  }
/* end prayer submission table */



/* stuff for allprayers.html */
.table-blue {
    background-color: #006CB8;
}
/* end stuff for allprayers.html */