@import url(./variables.css);
@import url(./header.css);
@import url(./fonts.css);

body {
  margin: 0;
  font: var(--text-body);
}

main {
  text-align: center;
}

button {
  background-color: var(--blue-light-1);
  border: none;
  border-radius: 100vmax;
  padding: 1em 65px;

  color: var(--text-light);
  font-size: 1.75em;
}

button:hover {
  background-color: var(--blue-light-2);
}

button.outlined {
  border: 5px solid var(--blue-light-2);
  background-color: transparent;

  color: var(--blue-light-2);
}

h2 {
  color: var(--blue-dark-2);
  font-size: 2.5em;
}

input,
textarea {
  border: 3px solid var(--border-color);
  background-color: var(--input-background-color);
  border-radius: 0.333em;
  padding: 1.16em 1.33em;

  font-size: 1.5em;

  margin-bottom: 1em;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-placeholder);
}

input:focus,
textarea:focus {
  border-color: var(--border-color-focused);
  outline: none;
}
