@import url(./variables.css);
@import url(./header.css);
@import url(./fonts.css);

body {
  margin: 0;
  font: var(--text-body);
}

main {
  text-align: center;
}

button {
  background-color: var(--blue-light-1);
  border: none;
  border-radius: 100vmax;
  padding: 1em 1.65em;
  min-height: 3.3em;
  min-width: 11em;

  font: var(--text-button);
  color: var(--text-light);
  /* font-size: 1.75em; */
  font-size: 1em;
}

button:hover {
  background-color: var(--blue-light-2);
}

button.outlined {
  border: 5px solid var(--blue-light-2);
  background-color: transparent;

  color: var(--blue-light-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--text-heading);
  text-transform: capitalize;
}

h2 {
  color: var(--blue-dark-2);
  /* font-size: 2.5em; */
  font-size: 1.5em;
}

input,
textarea {
  border: 3px solid var(--border-color);
  background-color: var(--input-background-color);
  border-radius: 0.333em;
  padding: 1.16em 1.33em;

  /* font-size: 1.5em; */
  font-size: 1em;

  margin-bottom: 1em;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-placeholder);
}

input:focus,
textarea:focus {
  border-color: var(--border-color-focused);
  outline: none;
}
