@import url("./variables.css");

header {
  --background-color: var(--blue-dark-2);
  --header-height: 100px;
}

header nav {
  display: flex;
  flex-flow: row nowrap;

  background-color: var(--background-color);
}

header nav #check {
  display: none;
}

header nav .checkbtn {
  display: none;
  align-items: center;
  order: 1;

  margin-left: auto;
}

header nav .checkbtn i {
  font-size: 1.75em;
  padding: 1.25em 1.4375em;
}

header nav img {
  max-height: var(--header-height);
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style: none;
}

header nav :link,
header nav :link:visited {
  display: block;
  padding: 1.3em 0.875em;

  font-size: 1.25em;
  color: var(--text-light);
  text-decoration: none;
}

header nav :link:active {
  color: var(--light-green-1)
}

@media screen and (max-width: 59em) {
  header nav ul {
    flex-flow: column;
    
    background-color: inherit;

    position: fixed; 
    inset: 0 0 0 auto;
    
    font-size: 25px;
    transform: translateY(var(--header-height)) translateX(100%);
    transition: transform var(--animation-duration);
  }
  
  header nav #check:checked ~ ul {
    transform: translateY(var(--header-height)) translateX(0);
  }

  header nav .checkbtn {
    display: flex;
    align-items: center;
  }
}