@import url("./variables.css");

header {
  --background-color: var(--blue-dark-2)
}

header nav {
  display: flex;
  flex-flow: row nowrap;

  background-color: var(--background-color);
}

header nav #check {
  display: none;
}

header nav .checkbtn {
  display: none;
  order: 1;
}

header nav img {
  max-height: 100px
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style: none;
}

header nav :link {
  padding: 1.3em 0.875em;

  font-size: 1.25em;
  color: var(--text-light);
  text-decoration: none;
}

header nav :link:active {
  color: var(--light-green-1)
}

@media screen and (max-width: 59em) {
  header nav ul {
    position: fixed;
    flex-flow: column;
    inset: 0 0 0 auto;
    
    font-size: 25px;
  }

  header nav .checkbtn {
    display: block;
  }
}