header nav {
  display: flex;
  flex-flow: row nowrap;
}

header nav img {
  max-height: 100px
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;

  padding: 0;
  margin: 0;

  list-style: none;;
}