:root {
  --blue-dark-2: #0068bd;
  --blue-dark-1:#3366cc;
  --blue-light-1:#1592e5;
  --blue-light-2: #47a1fa;

  --green-dark-1:#61B255;
  --green-light-1:#B5DF40;

  --text-light: white; 
  --text-dark: #707070;

  --animation-duration: 0.25s;

  --text-body: 500 15px/1.46em "Brandon Grotesque", sans-serif;
}